.text_content{
    padding-top: 200px;
}
.input_in{
    display: block;
    margin: 0 auto;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(217, 131, 131);
    color: rgb(217, 131, 131);
}
