.navbar{
  background-color: #9f6d98;
  position: fixed;
  z-index: 111111111;
  width: 100%;
}
.logo {
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  color: #7e4d4d;
}

