.form {
  max-width: 600px;
  width: 100%;
  margin: 100px auto;
  input {
    margin-bottom: 30px;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
  }
  &_btn {
    border: none;
    transition: all 2s ease;
    color: #fff;
    font-weight: 900;
    background-color: rgb(16, 27, 145);
    &:hover {
      border-radius: 5px;
      transition: all 2s ease;
      color: rgb(16, 27, 145);
      background-color: #fff;
      border: 2px solid #323;
    }
  }
  &__btn {
    border: none;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    background-color: #fe0909;
    padding: 5px 0;
    color: #fff;
  }
  &__col {
    max-width: 400px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.addBtn{
  display: block;
  max-width: 600px;
  width: 100%;
  margin: 50px auto;
  padding: 10px 0;
  border: 2px solid goldenrod;
  background-color: #b1b100;
  color: #fff;
}
