.card {
  max-width: 400px;
  width: 100%;
  height: 450px;
  img {
    height: 250px;
  }
 &__content{
  padding-top: 200px;
 }
 &_input{
  margin: 0 auto;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(217, 131, 131);
  color: rgb(217, 131, 131);
 }
}
